[Desktop Entry]
Name=Chili Clock
Name[de]=Chili Uhr
Name[es]=Reloj Chili
Name[x-test]=xxChili Clockxx時鐘

Comment=The hottest clock on a single line!
Comment[de]=Die schärfste Uhr in einer Zeile!
Comment[es]=La hora más picosa en una sola linea!
Comment[x-test]=xxThe hottest clock on a single line!xx

Icon=org.kde.plasma.digitalclock
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marian Arlt
X-KDE-PluginInfo-Email=marianarlt@icloud.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.plasma.chiliclock
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

X-Plasma-MainScript=ui/main.qml