[Desktop Entry]
Name=Inline Clock
Name[de]=Inline Uhr
Name[en_GB]=Inline Clock
Name[es]=Reloj linear
Name[x-test]=xxInline Clockxx時鐘

Comment=Time and date in a single line
Comment[de]=Zeit und Datum auf einer Linie.
Comment[en_GB]=Time and date in a single line
Comment[es]=Hora y fecha en una sola línea
Comment[x-test]=xxTime and date in a single linexx

Icon=preferences-system-time
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Klapetek
X-KDE-PluginInfo-Email=mklapetek@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.inlineClock
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

X-Plasma-MainScript=ui/main.qml