[Desktop Entry]
Name=Better inline clock

Comment=Your usual clock, just better and on one line!

Icon=org.kde.plasma.digitalclock
Type=Service
X-KDE-PluginInfo-Author=Marian Arlt
X-KDE-PluginInfo-Email=marianarlt@icloud.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.plasma.betterinlineclock
X-KDE-PluginInfo-Version=3.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-KDE-PluginInfo-Category=Date and Time
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date
X-Plasma-MainScript=ui/main.qml

Name[ru]=Better inline clock
Name[uk]=Better inline clock
Comment[ru]=Ваши обычные часы, но лучше и в одну строку!
Comment[uk]=Ваш звичайний годинник, але кращий і в один рядок!
